* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins';
    overflow-x: hidden;
}

body {
background: radial-gradient(circle, #CCE2FF, #FFFFFF);
background-size: 400%;
animation: bg-animation 4s infinite;
}

@keyframes bg-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

header {
    position:relative;
    width: 100%;
    height: 12em;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bg {
    position: fixed;
    top: 3em;
    background-color: rgba(247, 243, 243, 0.661);
    backdrop-filter: blur(0.5em);
    padding: 2em;
    width: 40em;
    margin: 0 auto;
    border-radius:  1em;
    border: 0.5px solid; 
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* gap: 4em; */
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

.profile {
    width: 100%;
    margin: 0 auto;
}

.dasbel {
    /* padding: 6em; */
    padding: 0em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dasbel h1 {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-size: 6.2rem;
    word-wrap: break-word;
    font-family: 'Orpheus Pro';
    /* width: 8em;*/
}

.niashun {
    padding: 6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.niashun h1 {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-size: 6.2rem;
    word-wrap: break-word;
    font-family: 'Orpheus Pro';
}

.p-bg-wrapper, .p-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    font-size: 1.3rem;
    font-weight: 400;
}

.p-bg {
    border-radius: 4em;
    width: 14.5em;
    /* width: 117%; */
    padding: 0.7em;
    height: 2.5em;
    background-color: rgba(60, 60, 60, 0.766);
    color: rgba(255, 255, 255, 0.766);
    /* margin: 0 auto;*/
}

.hero-section {
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.vid-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* position: relative; */
    z-index: -1;
    /* margin: 0 auto;*/
}

video {
    /* width: 55em; */
    width: 80%;
    /* top: 0; */
    height: 57em;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
}

.about-overview {
    display: flex;
    flex-direction: column;
    padding-top: 7em;
    margin: 0 auto;
    max-width: 1300px;
    gap: 9em;
}

.underline {
    width: 100%;
    border: 0.2px solid rgba(128, 128, 128, 0.73);
}

.about-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.paragraph p, .servicestxt p {
    font-size: 1.2rem;
}

.slogan {
    display: flex;
    justify-content: start;
}

.slogan p {
    font-size: 6rem;
    font-family: 'Orpheus Pro';
    /* text-align: justify; */
    margin-top: 0;
    /* display: flex; */

}

.about-text {
        /* max-width: 546px; */
        display: flex;
        justify-content: end;
        /* align-items: center;*/
}

.about-text p {
    /* width: 100%;  */
    max-width: 500px;
    font-size: 1.5rem;
    margin: 0;
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
}

.services-container {
    width: 100%;
    max-width: 1400px;
}

.services-body {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-auto-columns: 1fr;
    /* grid-template-rows: 1fr 1fr;*/
    padding-top: 13em;
    padding-bottom: 13em;
}

.services-alt-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    /* padding-top: 10em; */
    margin-left: 3rem;
}

.details-box {
    padding: 4em;
    /* background: #d3d3d333; */
    background: radial-gradient(circle, #CCE2FF, #FFFFFF);
    border: 1px solid #80808059;
    /* box-shadow: 1px #c9c9c9; */
    border-style: dashed;
}

.details-box h1 {
    font-size: 3rem;
    font-family: 'Orpheus Pro';
    font-weight: bolder;
    /* border: 1px solid;*/
}

.details-box p {
    font-size: 1.4rem;
    color: #00000070;
    width: 80%;
}

.testimonial-container {
    display: grid;
    grid-template-rows: 1fr;
}

.testimonial-container > .services-alt-grid {
    padding-top: 10em;
}

.images img {
    filter: grayscale(100%);
    height: 78em;
}

.images {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

img {
    width: 90%;
    height: 66em;
    object-fit: cover;
    object-position: center;
    border-radius: 1.2em;
    filter: grayscale(70%);
    z-index: -1;
}

.img-grid {
    max-width: 600px;
}

.about, .services{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

.about div, .services div {
    padding: 5px 0px;
}

.about h3, .services h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    font-size: 1.5rem;
    font-weight: 400;
}

.h-bg {
    border-radius: 4em;
    /* width: 2.5em; */
    padding: .7em;
    height: 2.5em;
    background-color: rgba(255, 255, 255, 0.766);
    background-color: black;
    color: black;
    color: white;
    font-family: 'Orpheus Pro';
}

.s-bg {
    background: midnightblue;
}

.a-bg {

}

.about p {
    font-size: 2.2rem;
    text-align: center;
    font-weight: 400;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
}

.right-col {
    width: 80%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.left-col {
    width: 80%;
}

.left-col p{
    margin: 0;
    font-size: 2.1rem;
    font-family: 'Orpheus Pro';
    text-align: center;
    line-height: 150%;
    margin-bottom: 2em;
}

.right-col p {
    margin: 0;
    font-size: 2.1rem;
    font-weight: 500;
    font-family: 'Orpheus Pro';
    line-height: 150%;
    margin-bottom: 2em;
    word-wrap: break-word;
    flex-wrap: wrap;
}

.services p {
    margin: 0 auto;
    font-size: 2.3rem;
    font-weight: 500;
    font-family: 'Orpheus Pro';
    line-height: 150%;
    margin-bottom: 2em;
    word-wrap: break-word;
    flex-wrap: wrap;
    text-align: center;
    width: 60%;
}

/* .grid {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
} */

/* .grid .left-col-alt {
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: center;
} */

.grid h1 {
    font-size: 3rem;
    text-align: center;
}

.grid .left-col-alt p {
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 1.5rem;
    width: 100%;
    margin-top: 2em;
    text-align: center;
}

.img-wrapper img{
    height: 66em;
    width: 90%;
    object-position: center center;
}

.img-wrapper div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.oh-img img {
    object-position: center top;
}

.expert {
    display: flex;
    place-content: center;
    flex-flow: row;
    gap: 10px;
    width: 100%;
    padding: 40px 0px;
    height: min-content;
}

.expt {
    display: flex;
    flex-flow: column;
    place-content: flex-start;
    /* width: 100%; */
    width: 22%;
}

.expt-head-color p {
    margin: 0;
    font-size: 1.3rem;
    color: grey;
}

.lower-block p {
    font-size: 1.4rem;
}

.img-section {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    max-width: 100%;
    margin: 0 auto;
    gap: 0em;
}

.grid-img-img img {
    width: 97%;
    height: 40em;
}

.grid-img-img {
    width: 100%;
    display: flex;
    justify-content: center;
}

.overview {
    display: flex;
    flex-flow: column;
    justify-content: center;
    /* width: 100%; */
    max-width: 89%;
    margin: 0 auto;
    padding: 40px 0px;
}

.overview div {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
    max-width: 500px;
}

.overview-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}

.img-grid-grid {
    max-width: 600px;
}

.img-grid img {
    width: 100%;
    height: 45em;
    object-position: center;
    object-fit: cover;
}

.ovr {
    color: grey;
}

.overview div p {
    font-size: 1.43rem;
}

.sec-img img {
    object-position: center top;
    height: 54em;
    /* width: 93%;*/
}

.pad {
    padding: 70px 0px 0px 0px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
}

.footer ul {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    padding: 0;
}

.footer ul li {
    list-style-type: none;
    width: 2%;
    padding: 0;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* gap: 6em; */
}


svg {
    width: 100%;
    display: flex;
    /* margin: 0 auto; */
    /* justify-content: start; */
    /* align-items: center;*/
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    /* width: 100%; */
    /* margin: 0 auto;*/
}

footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        color: white;
        position: relative;
        text-decoration: none;
        max-width: 1400px;
        width: 90%;
    }

    .links {
        display: flex;
        gap: 3em;
        padding-top: 100px;
    }

    .links a {
        text-decoration: none;
        color: black;
    }

    .logo-tmark {
        padding-top: 100px;
    }

    .mail {
        color: black;
    }

.footer a:hover, .links a:hover {
    fill: blue;
    color: blue;
} 

.nav-bg a:hover {
    color: blue;
}

.testimonial-wrapper {
    padding: 40px 0px;
    background-color: aqua;
    position: relative;
    z-index: -1;
    background-image: linear-gradient(to left, #f8f4f4, #faf7f7, #fbfafa, #fdfcfd, #ffffff);
}

.tes-wrapper1 {
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: center;
    max-width: 89%;
    margin: 0 auto;
    gap: 2em;
}

.thumbnail {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.thumbnail img{
    /* width: 24%; */
    width: 17em;
    height: 16em;
    object-fit: cover;
    object-position: center top;
    border-radius: 11em;
    display: flex;
    margin: 0 auto;
    z-index: 0;
    /* justify-content: center; */
    place-content: center;
}

.thumbnail p {
    margin: 0 auto;
    text-align: center;
    padding-top: 2em;
}

.tes-images {
    max-width: 500px;
}



/* .img-section img {
    width: 100%;
} */